*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
#inputnome{
    margin: 70px 0px 10px 15px;
    width: 200px;
    height: 30px;
}
#botao{
    height: 30px;
    width: 80px;
}
#div_temperatura{

    display: flex;
    width: 600px;
    align-items: center;
}
#temp{
    font-size:28px;
}
#div_chuva{
    margin-left: 15px;
    font-size: 14px;
}

#icones{
    display: flex;
    width: 100vw;
    height: 30vh;
    margin-left: 15px;
    margin-top:15px;
}

.dia{
    width: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

