body {
    text-align: center;
    font: normal 15pt Arial;
}

table {
    margin: auto;
    margin-top: 10px;
}

td {
    padding: 5px;
}

#venda {
    border: 1px solid black;
    width: 250px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    display: none;
    margin-top: 20px;
}

.appear {
    display: block;
}

#result {
    font-size: 18px;
}