*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 31vh;
    background-color: rgb(255, 255, 255);
}

body {
    padding-bottom: 80vh;
}

.parte{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#quad{
    width: 23vw;
    height: 10vh;
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 50%;
    margin-left: 10px;
}
.inf{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: center;
}
.user{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
}
#lorem{
    margin-top: 7px;
    font-size: 17px;
}

.botoes{
    display: flex;
    margin-top: 3vh;
    width: 100vw;
    justify-content: center;
}

#botao{
    width: 40vw;
    height:  4.3vh;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(59, 170, 245);
}

#botao2{
    width: 40vw;
    height:  4.3vh;
    margin-left: 10px;
    border-radius: 10px;
}

section{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.publi{
    width: 128px;
    height: 128px;
    background-color:  rgba(128, 128, 128, 0.473);
}

footer{
    height: 5vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;    
    position: fixed;
    bottom: 0;
    /* overflow-y: scroll; */
}
#icon{
    width: 7vw;
    margin-top: 10px;
    margin-left: 3px;
}
/* .publi{
    width: 33vw;
    height: 17vh;
    background-color:  rgba(128, 128, 128, 0.473);
    margin-right: 1px;
}
.publi2{
    width: 33.4vw;
    height: 17vh;
    background-color:  rgba(128, 128, 128, 0.473);
    
} */
