*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/culinária-regional-brasileira.png");
    background-repeat: no-repeat;
    background-size: cover
}
.header{
    background-color: rgba(0, 0, 0, 0.767);
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.h3{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
h3{
    margin-left: 25px;
    color: white;
}
.divlogo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo{
    width: 200px;
}

.camada{
    height:100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.405);
}
.section {
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
th{
    color: white;
    width: 150px;
}
.tabela{
    width: auto;
    height: auto;
    min-height:60%;   
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.267);
    position: relative;
}
.btn-finalizar{
    position: absolute;
    bottom: 10px;
    height: 5%;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.67);
    border-radius: 10px;
    border:none;
    cursor: pointer;
}
table{
    width: 90%;
    justify-self: center;
}

.t{
    color: white;
    width: 150px;
    text-align: center;
}

tr{
    display: flex;
    align-items: center;

}
.quantidade{
    color: white;
    width: auto;
}
.botao_cardapio{
    width: 8%;
    align-self: center;
}