#circulo{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: rgb(165, 127, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: processar 10s linear infinite ; 
    animation-delay: 1.2;
}


@keyframes processar{
    

    
    25% {
        background-image: conic-gradient(green, white, white, white);
        transform: 2s;
      
    }
    50%{
        background-image: conic-gradient(green, green, white, white);
        transform: 2s;
    }
    75%{
        background-image: conic-gradient(green, green, green, white);
        transform: 2s;
    }
    100%{
        background-image: conic-gradient(green, green, green, green);
        transform: 2s;
    }
}
#circulomenor{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: aquamarine;
   display: flex;
   justify-content: center;
   align-items: center;
}