* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 2px solid;
    border-radius: 10px;
}

.search {
    display: flex;
    align-items: center;
}

#search {
    padding: 5px;
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid;
    margin: 10px 0;
}

#addVendas,
#cadFunc {
    padding: 5px;
    background: #4CAF50;
    border-radius: 10px;
    border: 1px solid;
    color: white;
    margin: 10px 0;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-content {
    width: max-content;
    height: 300px;
    background-color: rgb(0, 255, 0);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#table-form tr {
    background-color: rgb(72, 255, 0);
}
#button-submit{
    padding: 5px;
    background: #4CAF50;
    border-radius: 10px;
    border: 1px solid;
    color: white;
    margin: 10px 0;
    cursor: pointer;

    &:hover{
        background: #3b8e3b;
    }
}