/* m1{
    color: red;
}
m2{
    color: blueviolet;
} */

.light {
    background-color: rgb(232, 198, 198);
}

.light h1{
    color:aquamarine
}

.dark{
    background-color: #353535;
}

.dark h1{
    color: white;
}

