header {

    display: flex;
    align-items: center;
   
}
nav {

    display: flex;
    align-items: center;
    width: 50%;
}

nav > ul{

    display:flex;
    list-style: none;
    
    
}

nav > ul > li {
    margin-left: 60px;
    border: 1px solid black;
    width: 70px;
    border-radius: 5px;
    padding: 10px ;

} 

nav > ul > li:hover {

    color: rgb(196, 233, 255);
} 

nav > img {

    width: 10%;
}
section {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
}
img{

    width: 30%;
}
div {

    width: 30%;
}
#title {
    width: 70%;
    color: blue;
    font-size: 30px;
    
}
#content {
    width: 90%;
    font-size: 20px;
    text-align: justify;
}
#button {

    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 1000px){
    
    nav > ul, #empresa {
        display: none;
    }

    nav{

        justify-content: end;
        align-items: center;
    }
    #title,#content{
        font-size: 15px;
    }
}

@media (max-width: 646px){

    #title,#content{
        font-size: 12px;
    }
}