@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#f2f2f1;
    overflow-x: none;
    width: 100vw;
    
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}

.div_logo{
    width: 50%;
}

.p_logo{
    color: #897b69;
    font-family: 'Work Sans', sans-serif;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
}
.title{
    color: #897b69;
    font-family: 'Work Sans', sans-serif;
    margin-right: 50px;
    margin-top: 10px;
}
.div_title{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: end;
}
.card{
    width: 30vw;
    height: 50vh;
}
.div_conteudo{
    background-color: rgba(255, 255, 255, 0.415);
    width: 30vw;
    height: 50vh;
}
.fundo{
    display: flex;
}

section{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
color: #897b69;
font-size: 17px;
margin: 6px;
text-align: justify;
}

header{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    /* background-color: rgb(255, 255, 255); */
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    color:  #897b69;
    margin: 10px;
    font-weight: bold;
}
.ol{
    margin-left: 20px;
    color: #897b69;
}
.card_conteudo{
    background-color: rgba(255, 255, 255, 0.526);
    width: 80vw;
    margin-bottom: 20px;
}
.arrow{
    display: flex ;
}
.conteudo{
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

a{
    color: #897b69;
}